<div class="list row content paddler">
	<div class="row">
		<div class="column small-6">
			<input ng-model="name" type="text" placeholder="Task Name*">
		</div>
		<div class="column small-6">
			<datepicker>
				<input ng-model="deadline" type="text" placeholder="Deadline*">
			</datepicker>
		</div>
	</div>
	<input ng-model="description" type="text" placeholder="Description">
	<div class="row">
		<div class="column small-9 medium-6 text-right">
			User: 
			<select class="userDropdown" ng-model="selectedUser" ng-options="user.name for user in users"></select>
		</div>
		<div class="column small-3 medium-6 text-left">
			<button ng-click="addTask()" class="button">Add</button>
		</div>
	</div>
</div>
	
</div>